body {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    color: purple;
}

fieldset {
    display: flex;
    flex-direction: column;
}

label {
    color: purple;
    font-family: monospace;
}
